.carrito{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.precio-total{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ul{
    display: flex;
    align-items: center;
    gap: 20px;
}